<!DOCTYPE html>
<html>
<head>
    <title>Possible Attacks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body >
<div class="container">
    <h2>🧨 Possible Attacks</h2>
    
        <div class="card"> <b> Brute Force Attack : </b> Trying many passwords until one works</div>
        <div class="card"> <b> Phishing : </b> Tricking users into giving credentials</div>
        <div class="card"> <b> Credential Stuffing: </b> Using leaked passwords from other sites</div>
        <div class="card"> <b> Malware-based Login Theft : </b> Using malicious software to steal login credentials</div>
  
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <a class="btn" href="/home"> Back to Dashboard</a>
    </div>


</div>
</body>
</html>
