<!DOCTYPE html>
<html lang="en">
<head>

<title>Impact of Attacks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
<div class="container">
    <h1>📉 Impact of Cyber Attacks</h1>

    <div class="card">👤 <b>Account Takeover:</b> Attackers gain full control of user accounts.</div>
    <div class="card">📂 <b>Data Theft:</b> Sensitive personal information can be stolen.</div>
    <div class="card">🔓 <b>Privacy Breach:</b> Private user data and activity may be exposed.</div>
    <div class="card">💸 <b>Financial Loss:</b> In real systems, attackers can misuse banking or payment data.</div>
    <div class="card">🏷️ <b>Reputation Damage:</b> Users lose trust in the platform or system.</div>

    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <a class="btn" href="/home"> Back to Dashboard</a>
    </div>

</div>
</body>
</html>
