<!DOCTYPE html>
<html>
<head>
    <title>Security Measures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1 class="green">🛡️ Security Measures</h1>

    <div class="card">🔍 <b>Anomaly Detection (ML):</b> Detects unusual login patterns.</div>
    <div class="card">📊 <b>Login Monitoring:</b> Tracks repeated failed logins.</div>
    <div class="card">🧠 <b>Behavior Analysis:</b> Compares login behavior.</div>
    <div class="card">⚠️ <b>Alert System:</b> Flags suspicious logins.</div>
    <div class="card">🔐 <b>Session Security:</b> Protects authenticated sessions.</div>

    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <a class="btn" href="/home">  Back to Dashboard</a>
    </div>


</div>
</body>
</html>
