<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safety Tips</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body >
    <div class="container">
    <h2>📚 Safety Tips</h2>
    <p>Follow these best practices to keep your account secure:</p>

    
        <div class="card"> <b>Use astrong and unique password for every website.</b> </div>
        <div class="card"> <b>Do not share your password or OTP with anyone.</b> </div>
        <div class="card"> <b>Enable Two-Factor Authentication (2FA) whenever possible.</b> </div>
        <div class="card"> <b>Avoid logging in from public or untrusted devices.</b> </div>
        <div class="card"> <b>Check for unusual login alerts and report them immediately.</b> </div>
        <div class="card"> <b>Log out after using shared or public computers.</b> </div>
    

    

    
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <a class="btn" href="/home"> Back to Dashboard</a>
    </div>

</div>
</body>
</html>
